<div class="container">
<div id="header-wrapper">
        <div id="logo">
            <a id="perceive-logo" href="http://designmodo.com" title="Designmodo – Web Design Blog and Shop"></a>
        </div>
</div>
<div class="row demo-tiles">
        <div class="span3">
          <div class="tile">
            <img class="tile-image big-illustration" alt="" src="images/illustrations/Compas.png">
            <h3 class="tile-title">Web Oriented</h3>
            <p>100% convertable to HTML/CSS layout.</p>
            <a class="btn btn-primary btn-large btn-block youtube_popup" href="http://42.123.86.187:3000" >Get Pro</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile">
            <img class="tile-image" alt="" src="images/illustrations/Infinity-Loop.png">
            <h3 class="tile-title">Easy to Customize</h3>
            <p>Vector-based shapes and minimum of layer styles.</p>
            <a class="btn btn-primary btn-large btn-block" href="#">Get Pro</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile">
            <img class="tile-image" alt="" src="images/illustrations/colors.png">
            <h3 class="tile-title">Color Swatches</h3>
            <p>Easy to add or change elements. </p>
            <a class="btn btn-primary btn-large btn-block" href="#">Get Pro</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile tile-hot">
            <img class="tile-image big-illustration" alt="" src="images/illustrations/Chat.png">
            <h3 class="tile-title">Free for Share</h3>
            <p>Your likes, shares and comments helps us.</p>
            <a class="btn btn-primary btn-large btn-block" href="#">Get Pro</a>
          </div>
        </div>
 </div>
<div id="header-wrapper">
        <div id="logo">
            <a id="control-logo" href="http://designmodo.com" title="Designmodo – Web Design Blog and Shop"></a>
        </div>
</div>


<div class="row demo-tiles">
        <div class="span3">
          <div class="tile">
            <img class="tile-image big-illustration" alt="" src="images/illustrations/Compas.png">
            <h3 class="tile-title">Web Oriented</h3>
            <p>100% convertable to HTML/CSS layout.</p>
            <a class="btn btn-primary btn-large btn-block youtube_popup" href="http://42.123.86.187:3000" >Get Pro</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile">
            <img class="tile-image" alt="" src="images/illustrations/Infinity-Loop.png">
            <h3 class="tile-title">Easy to Customize</h3>
            <p>Vector-based shapes and minimum of layer styles.</p>
            <a class="btn btn-primary btn-large btn-block" href="#">Get Pro</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile">
            <img class="tile-image" alt="" src="images/illustrations/colors.png">
            <h3 class="tile-title">Color Swatches</h3>
            <p>Easy to add or change elements. </p>
            <a class="btn btn-primary btn-large btn-block" href="#">Get Pro</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile tile-hot">
            <img class="tile-image big-illustration" alt="" src="images/illustrations/Chat.png">
            <h3 class="tile-title">Free for Share</h3>
            <p>Your likes, shares and comments helps us.</p>
            <a class="btn btn-primary btn-large btn-block" href="#">Get Pro</a>
          </div>
        </div>
      </div>
</div>
<script>
			$('.youtube_popup').popup({
				types		: {
					youtube			: function(content, callback){
						content = '<iframe width="420" height="315" src="'+content+'" frameborder="0" allowfullscreen></iframe>';
						// Don't forget to call the callback!
						callback.call(this, content);
					}
				},
				width				: 800,
				height				: 315
			});

</script>
