

<div class="demo-headline">
        <h2 class="demo-logo">
          <div class="logo"></div>
          IoTaaS 场景
        </h2>
      </div>

<div class="container">
<div id="perceive" >
<div id="header-wrapper">
</div>
<div class="row demo-tiles">
        <div class="span3">
          <div class="tile">
            <img class="tile-image big-illustration" alt="" src="scenes/garden.png">
            <h3 class="tile-title">智慧灌溉</h3>
            <p>根据天气，土壤环境智能条件灌溉周期</p>
            <a class="btn btn-primary btn-large btn-block garden_popup" href="http://42.123.86.187/irrigation/index.html?pw=800&amp;ph=600" >启动</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile">
            <img class="tile-image" alt="" src="scenes/security.png">
            <h3 class="tile-title">智慧安防</h3>
            <p>实现门磁，摄像头等安防设备的联动与告警</p>
            <a class="btn btn-primary btn-large btn-block secure_popup" href="http://42.123.86.187/secure/index.html?pw=800&amp;ph=600">启动</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile">
            <img class="tile-image" alt="" src="scenes/electricity.png">
            <h3 class="tile-title">智慧节能</h3>
            <p>根据节能模型实现温度控制、灯控的全自动化调度</p>
            <a class="btn btn-primary btn-large btn-block water_popup" href="http://110.76.185.87:8080/gateway/waterSensor.jsp?pw=600&amp;ph=400">启动</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile tile-hot">
            <img class="tile-image big-illustration" alt="" src="scenes/maintenance.png">
            <h3 class="tile-title">智慧监控</h3>
            <p>提供自动化运维，实时告警，预防性检测等服务</p>
            <a class="btn btn-primary btn-large btn-block" href="#">启动</a>
          </div>
        </div>
        </div>

<div class="row demo-tiles">
        <div class="span3">
          <div class="tile tile-hot">
            <img class="tile-image big-illustration" alt="" src="scenes/home.png">
            <h3 class="tile-title">智能家居</h3>
            <p>通过各类传感器，实现家电全智能化联动</p>
            <a class="btn btn-primary btn-large btn-block gesture_popup" href="http://42.123.86.187:3000?pw=600&amp;ph=400">启动</a>
          </div>
        </div>
        <div class="span3">
          <div class="tile tile-hot">
            <img class="tile-image big-illustration" alt="" src="scenes/shop.png">
            <h3 class="tile-title">智能营销</h3>
            <p>借助数据采集装置，提供多维度营销服务</p>
            <a class="btn btn-primary btn-large btn-block brain_popup" href="http://42.123.86.187/brain.html?pw=800&amp;ph=600">启动</a>
          </div>
        </div>
 </div>
</div>

<div style="height:50px"></div>

</div>
<script>

$('.garden_popup').popup();
$('.secure_popup').popup();
$('.plant_popup').popup();
$('.door_popup').popup();


</script>
