<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
        <meta charset="UTF-8" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="apple-touch-icon-precomposed" href="http://designmodo.com/wp-content/themes/designmodov2.1/images/mobile.png"/>
        <link rel="shortcut icon" href="http://designmodo.com/favicon.ico" />
        <title>Flat UI Pro - Bootstrap Design Framework - Designmodo</title>


<!-- / Yoast SEO Premium plugin. -->


		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>

<link rel='stylesheet' id='dm_style-css'  href='/css/style.css' type='text/css' media='all' />

<link rel='stylesheet' id='dm_shop_flat_css-css'  href='/css/all.css' type='text/css' media='all' />
<link rel='stylesheet' id='dm_shop_flat_css-css'  href='/css/bootstrap.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='dm_shop_flat_css-css'  href='/css/flat-ui.css' type='text/css' media='all' />
<link rel='stylesheet' id='dm_shop_flat_css-css'  href='popup.css' type='text/css' media='all' />


<script src="jquery.min.js"></script>
<script src="jquery.popup.js"></script>

</head>
<body class="single single-post postid-95873 single-format-standard post-flat">

<div id="upper-menu-mobile">
        <div id="page-menu-wrapper">
            <ul class="main no-js" style="border:none;box-shadow:none;">
                <li class="submenu-item">
                    <a href="#" class="top-menu">
                        <span aria-hidden="true" class="icn_list"><label>Categories</label></span>
                    </a>
                </li>
                <li><a href="http://designmodo.com/shop/" class="top-menu"><span aria-hidden="true" class="icn_cart"></span><label>Shop</label></a></li>
            </ul>
            <ul class="main right no-js">
                <li class="submenu-item">
                    <a href="javascript:void(0)" class="top-menu"><span aria-hidden="true" class="icn_follow"></span></a>

                    <div class="dropdown-menu follow">
                        <ul class="social">
                            <li>
                                <a href="http://feeds.feedburner.com/designmodo" title="" class="rss" rel="nofollow" target="_blank"><span aria-hidden="true" class="icn_rss"></span>RSS</a>
                            </li>
                            <li>
                                <a href="http://www.twitter.com/designmodo" title="" class="twitter" rel="nofollow" target="_blank"><span aria-hidden="true" class="icn_twitter"></span>Twitter</a></a>
                            </li>
                            <li>
                                <a href="http://www.facebook.com/designmodo" title="" class="facebook" rel="nofollow" target="_blank"><span aria-hidden="true" class="icn_facebook"></span>Facebook</a></a>
                            </li>
                            <li>
                                <a href="https://www.google.com/+DesignModo" title="" class="googleplus" rel="nofollow" target="_blank"><span aria-hidden="true" class="icn_googleplus"></span>Google+</a></a>
                            </li>
                            <li>
                                <a href="http://dribbble.com/designmodo" title="" class="dribbble" rel="nofollow" target="_blank"><span aria-hidden="true" class="icn_dribbble"></span>Dribbble</a>
                            </li>
                        </ul>
                        <div class="counter">274549 Subscribers & Followers</div>
                    </div>
                </li>


                    <li>
                        <a href="http://designmodo.com/my-account/" class="top-menu profile">
                            <span aria-hidden="true" class="icn_profile"></span>
                        </a>
                                    </li>
            </ul>
        </div>
    </div>

    <div id="upper-menu-container">
        <div id="page-menu-wrapper">
            <ul class="main left no-js">
                <li><a href="http://designmodo.com" class="top-menu home"><span aria-hidden="true" class="icn_logo"></span></a></li>
                <li class="submenu-item mobile-class">
                    <a href="#" class="top-menu">
                        Categories
                    </a>
                </li>
                <li><a href="http://designmodo.com/shop/" class="top-menu shop">Shop</a></li>
<div class="btn-group">
<li>
<a href="http://designmodo.com/shop/" class="top-menu shop">Shop1</a>
  <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121329" ><a href="#">Action</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121329"><a href="#">Another action</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121329"><a href="#">Something else here</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121329"><a href="#">Separated link</a></li>
  </ul>
</div>
</li>

            </ul>
            <ul style="float:right; right:-1px; position:relative;" class="main right no-js">
                <li class="submenu-item mobile-class">
                    <a href="#" class="top-menu">Follow us</a>

                </li>

                <li class="submenu-item mobile-class">
                                                <a href="http://designmodo.com/my-account/" class="top-menu profile">
                                                            <label>Sign In</label>
                        </a>
                                        </li>
                            </ul>
        </div>
    </div>

<div class="demo-headline">
        <h2 class="demo-logo">
          <div class="logo"></div>
          IoTaaS  设备列表
        </h2>
      </div>



<%= yield %>

<div id="footer-wrapper">
    <div class="menu-footer-container"><ul id="menu-footer-menu" class="page-menu-wrapper-footer"><li id="menu-item-121332" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121332"><a href="http://designmodo.com/contact-us/">Contact Us</a></li>
<li id="menu-item-121329" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121329"><a href="http://designmodo.com/about/">About</a></li>
<li id="menu-item-121333" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121333"><a href="http://designmodo.com/privacy-statement/">Privacy</a></li>
<li id="menu-item-121335" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121335"><a href="http://designmodo.com/terms-and-conditions/">Terms</a></li>
<li id="menu-item-102718" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-102718"><a href="http://journal.designmodo.com/" rel="nofollow" title="" target="_blank">Journal</a></li>
<li id="menu-item-121330" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121330"><a href="http://designmodo.com/advertise/">Advertise</a></li>
<li id="menu-item-121331" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121331"><a href="http://designmodo.com/affiliates/">Affiliates</a></li>
<li id="menu-item-121334" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121334"><a href="http://designmodo.com/subscribe/">Newsletter</a></li>
</ul></div>
    <ul id="footer-container-right">
        <li class="copyright">Copyright &copy; 2016  <a href="http://designmodo.com/" class="on" title="DesignModo">Designmodo</a>. All Rights Reserved.</li>
        <li class="copyright">Designmodo is a popular web design blog and shop.</li>
    </ul>
</div>



</body>
</html>
