<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
        <meta charset="UTF-8" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="apple-touch-icon-precomposed" href="http://designmodo.com/wp-content/themes/designmodov2.1/images/mobile.png"/>
        <link rel="shortcut icon" href="http://designmodo.com/favicon.ico" />
        <title>Flat UI Pro - Bootstrap Design Framework - Designmodo</title>


<!-- / Yoast SEO Premium plugin. -->


		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>

<link rel='stylesheet' id='dm_style-css'  href='/css/style.css' type='text/css' media='all' />

<link rel='stylesheet' id='dm_shop_flat_css-css'  href='/css/all.css' type='text/css' media='all' />
<link rel='stylesheet' id='dm_shop_flat_css-css'  href='/css/bootstrap.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='dm_shop_flat_css-css'  href='/css/flat-ui.css' type='text/css' media='all' />
<link rel='stylesheet' id='dm_shop_flat_css-css'  href='popup.css' type='text/css' media='all' />


<script src="jquery.min.js"></script>
<script src="jquery.popup.js"></script>

</head>
<body class="single single-post postid-95873 single-format-standard post-flat">

<div id="upper-menu-mobile">
        <div id="page-menu-wrapper">
            <ul class="main no-js" style="border:none;box-shadow:none;">
                <li class="submenu-item">
                    <a href="/" class="top-menu">
                        <span aria-hidden="true" class="icn_list"><label>主页</label></span>
                    </a>
                </li>
                <li><a href="#" class="top-menu"><span aria-hidden="true" class="icn_cart"></span><label>条件设定</label></a></li>
            </ul>
        </div>
    </div>

    <div id="upper-menu-container">
        <div id="page-menu-wrapper">
            <ul class="main left no-js">
                <li><a href="http://designmodo.com" class="top-menu home"><span aria-hidden="true" class="icn_logo"></span></a></li>
                <li class="submenu-item mobile-class">
                    <a href="/" class="top-menu">
                       主页
                    </a>
                </li>
<div class="btn-group">
<li>
<a href="#" class="top-menu shop">设备列表</a>
  <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121329" ><a href="#perceive">智能感知类</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121329"><a href="#control">无线控制类</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121329"><a href="#stream">数据采集类</a></li>
  </ul>
</div>
</li>
                <li><a href="#" class="top-menu shop">条件设定</a></li>

            </ul>
            <ul style="float:right; right:-1px; position:relative;" class="main right no-js">
                <li class="submenu-item mobile-class">
                    <a href="#" class="top-menu">联系我们</a>

                </li>

                <li class="submenu-item mobile-class">
                                                <a href="#" class="top-menu profile">
                                                            <label>Admin</label>
                        </a>
                                        </li>
                            </ul>
        </div>
    </div>

<div class="demo-headline">
        <h2 class="demo-logo">
          <div class="logo"></div>
          IoTaaS  设备列表
        </h2>
      </div>



<%= yield %>

<div id="footer-wrapper">
    <div class="menu-footer-container"><ul id="menu-footer-menu" class="page-menu-wrapper-footer"><li id="menu-item-121332" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121332"><a href="#">联系方式</a></li>
<li id="menu-item-121329" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121329"><a href="http://designmodo.com/about/">关于</a></li>
<li id="menu-item-121333" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121333"><a href="#">设备接入</a></li>
<li id="menu-item-121335" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121335"><a href="#">API</a></li>
<li id="menu-item-102718" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-102718"><a href="#" rel="nofollow" title="" target="_blank">合作方式</a></li>
<li id="menu-item-121330" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121330"><a href="#">网站声明</a></li>
<li id="menu-item-121331" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121331"><a href="#">友情链接</a></li>
<li id="menu-item-121334" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121334"><a href="#">FAQ</a></li>
</ul></div>
    <ul id="footer-container-right">
        <li class="copyright">Copyright &copy; 2016  <a href="#" class="on" title="DesignModo">CTBRI</a>中国电信北京研究院</li>
        <li class="copyright">增值电信业务中互联网信息服务业务经营许可证京ICP证140747号 </li>
    </ul>
</div>



</body>
</html>
